<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="styles.css">
    <title>Weather Application</title>
</head>

<body>
    {{>header}}

    <div class="container">
        <div>
            <p>Thanks for visiting my weather application! This app was built using HTML, CSS,
                Javascript, and Node.js. All files can be found in my repository at
                github.com/Nate-Gage/weather-application</p>
            <p>Navigation templating was created using partials in Handlebars.</p>
        </div>
    </div>

    {{>footer}}
</body>


</html>