<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="../../front-end/css/styles.css">
    <title>Weather Application</title>
</head>

<body>
    {{>header}}

    <div>
        <p class="bodyContent">Body content = {{body}}</p>
    </div>
    
    {{>footer}}
</body>


</html>