<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    {{>header}}

    <div class="container">
        <p>A help message to display: {{body}}</p>
    </div>

    {{>footer}}
</body>


</html>