<!DOCTYPE html>
<html>


<head>
    <link rel="stylesheet" type="text/css" href="./styles.css">
    <script src="./front-end/js/clientside.js"></script>
</head>

<body>
    {{>header}}


    {{>footer}}
</body>

</html>