<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" type="text/css" href="./styles.css">
</head>

<body>
    {{>header}}
    <div class="container">

        <p>Please enter a city to view local weather:</p>
        <form>
            <br>
            <input placeholder="Location">
            <button>Search</button>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>
        <p id="forecastMessage"></p>

        <br><br>
        {{>footer}}
    </div>

    <script src="./clientside.js"></script>
</body>

</html>