<!DOCTYPE html>
<html>


<head>
    <link rel="stylesheet" type="text/css" href="./styles.css">
    <script src="./front-end/js/clientside.js"></script>
</head>

<body>
    <div class="container">
        {{>header}}

        <p>Please enter a city:</p>
        <form action="/action_page.php">
            City: <input type="text" name="city" value="Denver"><br>

            <input type="submit" value="Submit">
        </form>

        <br><br>
        {{>footer}}
    </div>
</body>

</html>