<header class="container">
    <h1 id="headStyle">{{title}}</h1>

    <a class="navLink" href="/">Weather</a>
    <a class="navLink" href="/about">About</a>
    <a class="navLink" href="/help">Help</a>
</header>
<br><br>