#headStyle {
    background-color: lightgray;
    padding: 15px 0 15px 0;
    width: 100%;
    text-align: center;
}
#footerStyle {
    margin-top: 30px;
}
.body {
    height:100%;
    width: 100%;
    text-align:center;
}
.bodyContent {
    color: blue;
}
.container {
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.navLink {
    padding: 15px 30px 15px 30px;
}
