#headStyle {
    background-color: lightgray;
    padding: 15px 0 15px 0;
    width: 100%;
    text-align: center;
    font-family: Tahoma;
    letter-spacing: 2px;
}
#footerStyle {
    margin-top: 30px;
    padding-top: 10px;
    border-top: 2px solid #eeeeee; 
}
.body {
    height:100%;
    width: 100%;
    text-align:center;
}
.bodyContent {
    color: blue;
}
.container {
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.navLink {
    padding: 15px 30px 15px 30px;
}
header a {
    font-family:Tahoma; 
    margin-top: 15px; 
    margin-bottom: 15px;
}
